<h1>mu-tree</h1>

<ul>
  {{#sortable-objects sortableObjectList=model sortEndAction='sortEndAction' enableSort=true useSwap=true inPlace=false sortingScope="mu-tree-sort"}}
    {{#each model as |node|}}
      {{#draggable-object content=node isSortable=true sortingScope="mu-tree-sort"}}
        <li>
          {{mu-tree node=node}}
        </li>
      {{/draggable-object}}
    {{/each}}
  {{/sortable-objects}}
</ul>

{{input value=newNodeName}}<button {{action "createNode"}}>Create!</button>

{{outlet}}
